<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">
    <div class="container-fluid" id="footer">
        <footer class="py-3">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/nosotros" class="nav-link px-2 text-body-secondary">Sobre nosotros</a></li>
            <li class="nav-item"><a href="https://x.com/carpesanoo/status/1636853661207875585" class="nav-link px-2 text-body-secondary"><i class="bi bi-twitter-x"></i></a></li>
            <li class="nav-item"><a href="https://www.instagram.com/tulipanespatagonia/?hl=es" class="nav-link px-2 text-body-secondary"><i class="bi bi-instagram"></i></a></li>
            <li class="nav-item"><a href="https://www.facebook.com/groups/360076505130382/" class="nav-link px-2 text-body-secondary"><i class="bi bi-facebook"></i></a></li>
            <li class="nav-item"><a href="https://github.com/PinyPon/Proyecto_Prog_Anual_2024" class="nav-link px-2 text-body-secondary"><i class="bi bi-github"></i></a></li>
            
          </ul>
          <p class="text-center text-body-secondary">© 2024 Tulipanes, Inc 🌷​</p>
        </footer>
      </div>
</footer>