<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">
    
  <div class="grupo-1">
      <div class="box">
          <figure>
              <a  href="#">
                  <img id="logo" src="../../../../../assets/flora (1).png" alt="Logo de Tulipanes">
              </a>
          </figure>
      </div>
      <div class="box">
          <h2>NÚMERO DE CONTACTO</h2>
          <p>Líder del equipo:
              299-586-2530
          </p>
          <br>
          <h2>AYÚDA</h2>
          <p>
              Número de ayúda:
              299-691-1732
          </p>
      </div>
      <div class="box">
          <h2>SIGUENOS EN NUESTRAS REDES</h2>
          <div class="red-social">
                      <a class="espa">
                      <img src="../../../../assets/insta.png" alt="100" width="50">
                      </a>
                      <a class="espa">
                          <img src="../../../../assets/facebook.png" alt="100" width="50">
                      </a>
                      <a class="espa">
                          <img src="../../../../assets/tuita.png" alt="100" width="50">
                      </a>
                      <a class="espa">
                          <img src="../../../../assets/mail.jpg" alt="100" width="50">
                      </a>
              <br>
          </div>
      </div>
  </div>

</footer>