#footer{
    background-color: #E7CCCC;
    width: 100%;
    /* Posicionar footer a pie de página */
    margin-bottom: 0;
    position: relative;
}
footer {
    background-color: #E7CCCC;
    margin-top: 0px;
    width: 100%;
    justify-content: end;
    margin-bottom: 0px;
}

.pie-pagina{
    font-family: serif;
}

#logo{
    width: 7rem;
} 

/* 
Paleta:
"Crema": EDE8DC
Rosa: E7CCCC
BB9CC0
Verde oscuro: A5B68D
Verde claro: C1CFA1 
*/

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}