<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">



    <div class="container-fluid" id="footer">
        <footer class="py-3">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/nosotros" class="nav-link px-2 text-body-secondary">Sobre nosotros</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-twitter-x"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-instagram"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-facebook"></i></a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2024 Flompany, Inc</p>
        </footer>
      </div>

</footer>