body{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: antiquewhite;

}
.modal-footer {
    text-align: center;
    justify-content: center;
    font-family: serif;
}

table, td, tr, th {
    background-color: antiquewhite;
}

.table {
    width: 100%; /* Asegura que la tabla use todo el ancho disponible */
}

.estilo {
    background-color: antiquewhite;
    border-color: black;
    padding: 20px; /* Espaciado interno */
}

.botonA {
    background-color: #A5B68D;
    color: rgb(255, 245, 231);
    font-family: serif;
    border-radius: 50rem;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.col-sm-6{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: aliceblue;
    width: 10rem;
    border-radius: 3rem;
    text-align: bottom;
    align-items: bottom;
    justify-content: bottom;
    font-family: serif;
}