body {
    font-family: serif;
    margin: 0; /* Elimina márgenes del body */
    padding: 0; /* Elimina padding del body */
}

.modal-footer {
    text-align: center;
    justify-content: center;
    font-family: serif;
}

table, td, tr, th {
    background-color: antiquewhite;
    border-collapse: collapse; /* Elimina espacios entre celdas */
}

.table {
    width: 100%; /* Asegura que la tabla use todo el ancho disponible */
    overflow: hidden; /* Recorta bordes en hijos */
}

.estilo {
    background-color: antiquewhite;
    border-color: black;
    padding: 20px; /* Espaciado interno */
}

.botonA {
    background-color: #A5B68D;
    color: rgb(255, 245, 231);
    font-family: serif;
    border-radius: 50rem;
}

.boton {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

