.example-spacer {
  flex: 1 1 auto;
}

.botones {
  display: flex;
  justify-content: right;
}

.offcanvas{
  background-color:beige;
}

/*Corresponde a pantallas mas chicas*/


@media (min-width: 300px) and (max-width: 700px) {
  
  mat-toolbar {
background: -webkit-linear-gradient(to top, #EDE8DC, #E7CCCC);
background: linear-gradient(to bottom, #EDE8DC, #E7CCCC);
}

/* 
Paleta:

"Crema": EDE8DC
Rosa: E7CCCC
BB9CC0
Verde oscuro: A5B68D
Verde claro: C1CFA1 
*/

  #GmenuProducto{
    display: none;
  }

  #menuInicio {
    display: none;
  }

}

/*Corresponde a pantallas más grandes*/
@media (min-width: 700px) {
  mat-toolbar {
    background:  #E7CCCC;
  }

  #menuSelecciones {
    display: none;
  }

}

