<mat-toolbar>

  <button id="miniPantalla" mat-button stype="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
    aria-controls="offcanvasScrolling"><i class="bi bi-list"></i></button>
  <!-- Menú desplegable para pantallas pequeñas -->

  <mat-menu #seccion="matMenu">

  </mat-menu>
  <span></span>
  <!--boton inicio-->
  <button id="menuInicio" mat-button routerLink="/inicio"><img src="../../../../../assets/flora (1).png" alt=""
      width="34rem"></button>

  <!--Productos-->


  <button id="GmenuProducto" class="offcanvas-title" mat-button stype="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Menú</button>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
        Menú
      </h5>
      <button type="button" class="btn-close menu" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <button mat-menu-item routerLink="/inicio" class="bounce-in-left" (click)="closeOffcanvas()">Inicio</button>
      <button mat-menu-item routerLink="/medianos" class="bounce-in-left" (click)="closeOffcanvas()">Ramos Medianos</button>
      <button mat-menu-item routerLink="/grandes" class="bounce-in-left" (click)="closeOffcanvas()">Ramos Grandes</button>
      <button mat-menu-item routerLink="/casamiento" class="bounce-in-left" (click)="closeOffcanvas()">Ramos Casamiento</button>
      <button mat-menu-item routerLink="/unidad" class="bounce-in-left" (click)="closeOffcanvas()">Flores solas</button>
      <button mat-menu-item routerLink="/nosotros" class="bounce-in-left" (click)="closeOffcanvas()">Sobre Nosotros</button>
      <button mat-menu-item routerLink="/preguntas" class="bounce-in-left" (click)="closeOffcanvas()">Preguntas Frecuentes</button>
      <button mat-menu-item routerLink="/contacto" class="bounce-in-left" (click)="closeOffcanvas()">Contactanos</button>
    </div>
  </div>





  <span class="example-spacer"></span>

  <!-- Menú desplegable para manejar todo el acceso de los usuarios en la página -->
  <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu class="selector" #usuario="matMenu">
    <button class="tipografia" mat-menu-item (click)="ingresar()" *ngIf="logueado"
      routerLink="/registro">Registrarse</button>
    <button class="tipografia" mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar
      Sesión</button>
    <button class="tipografia" mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">Cerrar Sesión</button>
  </mat-menu>

  <!-- Carrito -->
  <button mat-icon-button class="example-icon favorite-icon" routerLink="/carrito"
    aria-label="Example icon-button with heart icon" (click)="carrito()">
    <mat-icon>shopping_cart</mat-icon>
  </button>

</mat-toolbar>