mat-toolbar{
  font-family: serif;
}

.example-spacer {
  flex: 1 1 auto;
}

.botones {
  display: flex;
  justify-content: right;
}

.offcanvas{
  background-color:beige;
}

/*Corresponde a pantallas mas chicas*/


@media (min-width: 300px) and (max-width: 700px) {
  
.menu{
  width: 50px;
}


  mat-toolbar {
background: -webkit-linear-gradient(to top, #EDE8DC, #E7CCCC);
background: linear-gradient(to bottom, #EDE8DC, #E7CCCC);

}

/* 
Paleta:

"Crema": EDE8DC
Rosa: E7CCCC
BB9CC0
Verde oscuro: A5B68D
Verde claro: C1CFA1 
*/

  #GmenuProducto{
    display: none;
  }
  #menuInicio {
    display: none;
  }
}

.selector, .tipografia{
  font-family: serif;
  background-color: #EDE8DC;
}

.offcanvas-title{
  font-family: serif;
}

/*Corresponde a pantallas más grandes*/
@media (min-width: 700px) {
  mat-toolbar {
    background:  #E7CCCC;
  }

  .menu{
    width: 50px;
  }

  #menuSelecciones {
    display: none;
  }
  #miniPantalla{
    display: none;
  }

}

.bounce-in-left{-webkit-animation:bounce-in-left 1.1s steps(2,end) both;animation:bounce-in-left 1.1s steps(2,end) both}

#menuInicio{
  border-radius: 200rem;
}

/* Ejemplo de estilo para los botones */
button.mat-menu-item {
  transition: transform 0.3s ease;
}

button.mat-menu-item:hover {
  transform: scale(1.05);
}