<mat-toolbar>

    <button id="menuSelecciones" mat-icon-button class="example-icon"[matMenuTriggerFor]="seccion"> 
      <mat-icon>menu</mat-icon>
    </button>
  <!-- Menú desplegable para pantallas pequeñas -->
    <mat-menu #seccion="matMenu">
      <button mat-menu-item routerLink="/inicio">Inicio</button>
  
      
      <!-- <button mat-menu-item routerLink="/producto">General</button> -->

      
    <button id="menuProducto" mat-button stype="button" data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Menú</button>
    </mat-menu>
    <span></span>
    <!--boton inicio-->
    <button id="menuInicio" mat-button routerLink="/inicio">Inicio</button>
    
    <!--Productos-->


    <button id="GmenuProducto" mat-button stype="button" data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Menú</button>
    
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
          Menú
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <button mat-menu-item routerLink="/medianos">Ramos medianos</button>
        <button mat-menu-item routerLink="/grandes">Ramos Grandes</button>
        <button mat-menu-item routerLink="/">Ramos Casamiento</button>
        <button mat-menu-item routerLink="/">Flores solas</button>
      </div>
    </div> 



  
  
      <span class="example-spacer"></span>

      <!-- Menú desplegable para manejar todo el acceso de los usuarios en la página -->
      <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
      <mat-menu #usuario="matMenu">
          <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
          <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar Sesión</button>
          <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">Cerrar Sesión</button>
      </mat-menu>
  
      <!-- Carrito -->
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
  </mat-toolbar>


