<body>
  <div class="etiqueta">
    <h1 class="titulo">Ramos Grandes</h1>
   </div>

    <div class="tarjetas">
      <div *ngFor="let i of coleccionProductos" class="contenido">
        <mat-card class="example-card">
          <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" class="card-img-top">
          <mat-card-content>
            <p class="card-title">
              {{i.nombre}}
              <br>
              Precio: ${{i.precio}}
            </p>
            <br>
            <div class="mb-3">
              {{i.stock}}
            </div>
          </mat-card-content>
          <mat-card-actions class="boton">
            <input type="button" placeholder="cantidad deseada" [(ngModel)]="stock">
            <button mat-button class="btn" (click)="agregarProducto(i)"><i class="bi bi-cart-fill"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</body>