.inicio {
    background: -webkit-linear-gradient(to top, #EDE8DC, #C1CFA1);
    background: linear-gradient(to bottom, #EDE8DC, #C1CFA1 );
/* 
    background: -webkit-linear-gradient(to top, #fbe6fc, #bc99fc);
    background: linear-gradient(to bottom, #f7e6fc, #bc99fc); */
}


/* 
Paleta:

EDE8DC
BB9CC0
A5B68D
C1CFA1 
*/

/* #582f66
#987D9A
#774 */