.inicio {
    background: -webkit-linear-gradient(to top,#EDE8DC, #EDE8DC, #C1CFA1, #A5B68D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EDE8DC, #EDE8DC, #C1CFA1, #A5B68D);
}


/* 
Paleta:

"Crema": EDE8DC
Rosa: E7CCCC
BB9CC0
Verde oscuro: A5B68D
Verde claro: C1CFA1 
*/

/* #582f66
#987D9A
#774 */