


  body{
    background: -webkit-linear-gradient(to top, #EDE8DC, #C1CFA1, #A5B68D);
    background: linear-gradient(to bottom, #EDE8DC, #C1CFA1, #A5B68D);
    font-family: serif;
    padding-top: 15px;
} 






/*ESTILOS PARA FORM CONTACTO*/
.formulario{
    width: 100%;
    font-family: serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 15px;
    text-align: center;
    width: 450px;
    background: -webkit-linear-gradient(to top, #FEFAE0,  #E7CCCC, #e4bdbd);
    background: linear-gradient(to bottom, #FEFAE0, #E7CCCC, #e4bdbd);
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    color: black;
    margin-bottom: 30px;
    margin-top: 10px;
}


label{
    color: #242424;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea{
    width: 100%;
    padding: 17px 25px;
    margin-bottom: 20px;
    background-color: rgb(240, 239, 238);
    border: 2px solid rgb(240, 239, 238);
    border-radius: 20px;
    color: #727272;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #727272;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #47382c;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 15px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: #423125;
    cursor: pointer;
}

.btn:hover{
    background-color: #E0E5B6;
}

@media(max-width: 700px){
    form{
        padding: 15px;
        width: 100%;
    }
    input{
        padding: 15px;
    }
}





/* 

input, textarea{
    width: 100%;
    padding: 17px 25px;
    margin-bottom: 20px;
    background-color: #E0E5B6;
    border: 2px solid #e4bdbd;
    color: #A5B68D;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #A5B68D;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 200px;
}

.form-txt a {
    color: #A5B68D;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: black;
    box-shadow: 0 0 20px #A5B68D;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
}

@media(max-width: 700px){
    .formulario{
        padding: 30px;
    }

    form{
        padding: 50px 30px;
        width: 100%;
    }

    input{
        padding: 15px;
    }
}

 */

.mapa{
    width: 100%;
    border-radius: 90%;
}

h1{
    text-align: center;
    padding: 5px;
    font-family: serif;
    border-radius: 50rem;
}