<body>
  <div class="etiqueta">
    <h1 class="titulo">Ramos de Casamiento</h1>
  </div>

  <div class="container">
    <div class="tarjetas">
      <div *ngFor="let i of coleccionCasamiento" class="contenido">
        <div class="example-card">
          <img [src]="i.imagen" [alt]="i.alt" class="card-img-top">
          <div class="titulo">
            <h3 class="card-title">{{ i.nombre }}</h3>
          </div>
          <div class="descripcion">
            <p>{{ i.descripcion }}</p>
          </div>
          <div class="precio">
            <p>Precio: {{ i.precio | currency }}</p>
          </div>
          <mat-card-actions class="boton">
            <button mat-button class="btn" (click)="mostrarVer(i)" data-bs-toggle="modal" data-bs-target="#verMas"><i
                class="bi bi-cart-fill"></i></button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal para ver más información -->
  <div class="modal fade" id="verMas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-horizontal">
      <div class="modal-content">
        <div class="modal-header" *ngIf="modalVisible">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{productoSeleccionado.nombre}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body" *ngIf="modalVisible">
          <div class="body-content">
            <img class="img-modal" src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">

            <div class="info-content">
              <div class="mb-precio">
                $ {{productoSeleccionado.precio}}
              </div>

              <div class="mb-3">
                Unidades disponibles: {{productoSeleccionado.stock}}
              </div>

              <div class="mb-descripcion">
                {{productoSeleccionado.descripcion}}
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="cantidad">
            <div class="mb-3">¿Cuántas unidades desea añadir al carrito?</div>
            <input type="number" placeholder="Cantidad" [(ngModel)]="stock">
          </div>

          <div class="botonesfooter">
            <button type="button" class="btn" data-bs-dismiss="modal"
              (click)="agregarProducto(productoSeleccionado)">Agregar al carrito</button>

            <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>