<body>
    <img class="titulo" src="../../../../assets/casamiento.png" width="100%" alt="">


    <div class="tarjetas">
        <div *ngFor="let i of coleccionProductos" class="contenido">
          <mat-card class="example-card">
            <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" class="card-img-top">
            <mat-card-content>
              <p class="card-title">
                {{i.categoria}}
                <br>
                Precio: ${{i.precio}}
              </p>
            </mat-card-content>



            <div class="container text-center">
              <div class="row g-2">
                <div class="col-6">
                  <div class="p-3">
                    <mat-card-actions class="boton">
                      <button mat-button class="btn"><i class="bi bi-heart-fill"></i></button>
                    </mat-card-actions>
                  </div>
                </div>
                <div class="col-6">
                  <div class="p-3"><mat-card-actions class="boton">
                    <button mat-button class="btn"><i class="bi bi-cart-fill"></i></button>
                  </mat-card-actions></div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
  </body>
  