<body>
    <div class="etiqueta">
      <h1 class="titulo">Flores por unidad</h1>
     </div>

     <div class="container">
      <div class="tarjetas">
        <div *ngFor="let i of coleccionProductos" class="contenido">
          <div class="example-card">
            <img [src]="i.imagen" [alt]="i.alt" class="card-img-top">
            <div class="titulo">
              <h3 class="card-title">{{ i.nombre }}</h3>
            </div>
            <div class="descripcion">
              <p>{{ i.descripcion }}</p>
            </div>
            <div class="precio">
              <p>Precio: {{ i.precio | currency }}</p>
            </div>
            <mat-card-actions class="boton">
              <!--<button mat-button class="btn" (click)="compra(i)">Ver mas</button>
               <button mat-button class="btn">Añadir al carrito</button> -->
            </mat-card-actions>
          </div>
        </div>
      </div>
    </div> 
</body>
  