body {
    background: -webkit-linear-gradient(to top, #EDE8DC, #C1CFA1);
    background: linear-gradient(to bottom, #EDE8DC, #C1CFA1);
    margin-bottom: 0%;
    font-family: serif;
}
.texto{
    padding-top: 5rem;
    margin-right: 5rem;
    margin-left: 4rem;
    border-color: black;
}

.estrellitas{
    width: 20%;
    margin-top: 0%;
}

.titulazo{
    background-color: #C1CFA1;
    height: 10rem;
    display: flex;
    align-items: center;
}

.p-3{
    text-align: center;
}

.row{
    border-color: black;

}

b{
    font-size: 4rem;
}

h2, b{
    text-align: center;
    font-family: serif;
}

.container {
    position: relative;
    width: 100vw;
    height: 65vh;
}

img{
    width: 27rem;
    margin-top: 3rem;
}

.imag{
    width: 35rem;
    margin-top: 3rem;
    opacity: 0;
    position: absolute;
}

.MV{
    margin-top: 0%;
    padding-top: 0%;
}

.imagenVM{
    width: 18rem;
    transform: translateX(-15%);
    border-radius: 100%;
}

.imagen {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.imagen1 {
    left: -350px;
    /* Empieza fuera del viewport a la izquierda */
    animation: slideIn1 2s ease-in-out forwards;
}

.imagen2 {
    right: 350px;
    /* Empieza fuera del viewport a la izquierda */
    animation: slideIn2 1s ease-in-out forwards;
}

.imagen3{
    animation: slideIn3 3s ease-in-out forwards;
}

/*@keyframes: Define el movimiento de las imágenes de izquierda a derecha.*/
@keyframes slideIn1 {
    to {
        left: 300px;
        /* Posición final */
        opacity: 1;
    }
}

@keyframes slideIn2 {
    to {
        right: 700px;
        /* Posición final */
        opacity: 1;
    }
}

@keyframes slideIn3{
    to{
        width: 20rem;
        margin-top: -3rem;
        opacity: 1;
    }
}


/* @media (max-widt) */