<body>
    <div class="container">

        <div class="form">
            <li class="lista">
                <!-- Nombre de usuario -->
                <mat-form-field class="inputs" appearance="fill">
                    <mat-label>Ingrese un nombre de usuario:</mat-label>
                    <!-- ngModel = directiva BIDIRECCIONAL utilizada para formularios -->
                    <input [(ngModel)]="usuarios.nombre" matInput placeholder="Ej: Pepito" required>
                </mat-form-field>

            </li>
            <li class="lista">
                <!-- Apellido de usuario -->
                <mat-form-field class="inputs" appearance="fill">
                    <mat-label>Ingrese su apellido:</mat-label>
                    <input [(ngModel)]="usuarios.apellido" matInput placeholder="Ej: Peréz" required>
                </mat-form-field>
            </li>
            <li class="lista">
                <!-- Email de usuario -->
                <mat-form-field class="inputs" appearance="fill">
                    <mat-label>Ingrese su email:</mat-label>
                    <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: pepitoperez2022@gmail.com" required>
                </mat-form-field>
            </li>
            <li class="lista">
                <!-- Contraseña de usuario -->
                <mat-form-field class="inputs">
                    <mat-label>Ingrese su contraseña:</mat-label>
                    <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input
                        minlength="6" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
                </mat-form-field>
            </li>
            <li class="lista contenedor">
                <!-- Botón para ENVIAR la información a la Base de Datos-->
                <button class="boton" mat-raised-button color="primary" (click)="registrar()">Registrar</button>
            </li>
        </div>

    </div>

</body>