.container{
    margin-left: 21%;
    justify-content: center;
    align-items: center;
}


.boton{
    display: flex;
    justify-content: center;
    width: 35%;
    margin: auto;
    text-align: center;
}

.inputs{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}