
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<!-- <div class="container">
    <div class="tarjetas">
      <div *ngFor="let i of coleccionProductos" class="contenido">
        <mat-card class="example-card">
          <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" class="card-img-top">
          <mat-card-content>
            <p class="card-title">
              {{i.categoria}}
              <br>
              Precio: ${{i.precio}}
            </p>
          </mat-card-content>
          <mat-card-actions class="boton">
            <!-- <button mat-button class="btn" (click)="compra(i)">Comprar</button> -->
         <!-- </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  
  
   -->