.titulo{
    text-align: center;
    margin: 10px;
    font-family: serif;
    background-color: #EDE8DC;
    border-radius: 50rem;

}

.preguntas {
    font-family: serif;
   padding: 1rem;
}

.accordion-button{
    font-family: serif;
    background-color: #C1CFA1;
}