.titulo{
    text-align: center;
    margin: 10px;
    font-family: serif;
    background-color: #CCD5AE;
    border-radius: 50rem;

}

.preguntas {
    font-family: serif;
    padding: 1rem;
    background: -webkit-linear-gradient(to top, #EDE8DC, #C1CFA1, #A5B68D);
    background: linear-gradient(to bottom, #EDE8DC, #C1CFA1, #A5B68D);
}

.accordion-button{
    font-family: serif;
    background-color: #E7CCCC;
}

.video{    
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.V{
    justify-content: center;
    align-items: center;
    width: 300px;
}

video{
    border-radius: 70px;
}

@media (min-width: 300px) and (max-width: 700px) {
    .video {
      display: none; /* Ocultar video en este rango de pantallas */
    }
  }