<div class="container">
  <div class="tarjetas">
    <div *ngFor="let i of coleccionFiltrada" class="contenido">
      <div class="example-card">
        <img [src]="i.imagen" [alt]="i.alt" class="card-img-top">
        <h3 class="card-title">{{ i.nombre }}</h3>
        <p>{{ i.descripcion }}</p>
        <p>Precio: {{ i.precio | currency }}</p>
        <mat-card-actions class="boton">
          <button mat-button class="btn" (click)="compra(i)">Ver mas</button>
          <!-- <button mat-button class="btn">Añadir al carrito</button> -->
        </mat-card-actions>
    </div>
  </div>
</div>



