<div class="container">
  <div class="tarjetas">
    <div *ngFor="let i of coleccionProductos" class="contenido">
      <mat-card class="example-card">
        <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" class="card-img-top">
        <mat-card-content>
          <p class="card-title">
            {{i.categoria}}
            <br>
            Precio: ${{i.precio}}
          </p>
        </mat-card-content>
        <mat-card-actions class="boton">
          <button mat-button class="btn" (click)="compra(i)">Ver mas</button>
          <!-- <button mat-button class="btn">Añadir al carrito</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


