<body>
  <div class="container">
    <div class="row">
        <h1>Iniciar Sesión</h1>

<div class="container text-center">
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3">
            
            <mat-form-field class="inputs" appearance="fill">
                <mat-label>Ingrese su email:</mat-label>
                <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: pepitoperez2022@gmail.com" required>
            </mat-form-field>

        </div>
      </div>
      <div class="col-6">
        <div class="p-3">
            
            <mat-form-field class="inputs">
                <mat-label>Ingrese su contraseña:</mat-label>
                <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
            </mat-form-field>

        </div>
      </div>
    </div>
  </div>
  <button class="boton" mat-raised-button color="primary" (click)="iniciarSesion()">Iniciar Sesión</button>
</div>
</div>
</body>



