body{
    background: -webkit-linear-gradient(to top, #EDE8DC, #d2dfb4); 
    background: linear-gradient(to bottom, #EDE8DC, #d2dfb4); 
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

/* 
Paleta:

"Crema": EDE8DC
Rosa: E7CCCC
BB9CC0
Verde oscuro: A5B68D
Verde claro: C1CFA1 
*/

.container{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

h1{
    font-family: serif;
}

.boton{
    width: 120px;
    margin: auto;
}

.material-icon{
    justify-content: center;

}


.lista {
    display: flex;
    justify-content: center;

}

.contenedor {
    padding-bottom: 10%;
}